[Desktop Entry]
Name=MX Codecs Installer
Name[ca]=Instal·lador de còdecs MX
Name[de]=MX Codecs Installer
Name[el]=Εγκατάσταση codecs του MX
Name[es]=Instalador de códecs de MX
Name[fr]=MX Installateur de codecs
Name[it]=MX Installa Codecs
Name[ja]=MX コーデックインストーラ
Name[nl]=MX Codecs Installeerder
Name[ro]=MX Instalator Codecuri
Name[ru]=MX Установщик кодеков
Name[sv]=MX Codecs Installerare
Comment=Simple install of restricted codecs
Comment[ca]=Descarregador senzill de còdecs
Comment[de]=Einfache Installation unfreier Codecs
Comment[el]=Απλή εφαρμογή λήψης codecs
Comment[es]=Herramienta simple de descarga de códecs
Comment[fr]=Installation simple des codecs restreintes
Comment[it]=Semplice downloader di codecs
Comment[ja]=のシンプルなコーデックダウンローダー
Comment[nl]=Eenvoudig installeren van codecs met beperkte rechten
Comment[ro]=Descărcător simplu de codecuri pentru
Comment[ru]=Простая установка несвободных кодеков
Comment[sv]=Enkel installering av non-free codecs
Exec=su-to-root -X -c mx-codecs 
Icon=mx-codecs
NoDisplay=false
Categories=System;
Type=Application
