[Desktop Entry]
Name=MX Codecs Installer
Name[am]=MX ኮድ መግጠሚያ
Name[ca]=MX Codecs installer
Name[cs]=MX instalátor kodeků
Name[de]=MX Codecs Installer
Name[el]=Εγκατάσταση codecs του MX
Name[es]=MX Instalar códecs
Name[fi]=MX-Koodekkien asennusohjelma
Name[fr]=MX Installateur de codecs
Name[hi]=MX कोडेक्स इंस्टॉलर
Name[hr]=MX Codecs Installer
Name[hu]=MX kodektelepítő
Name[it]=MX Installa Codecs
Name[ja]=MX コーデックインストーラ
Name[kk]=MX Codecs Installer
Name[lt]=MX kodekų diegimo programa
Name[nl]=MX Codecs Installeerder
Name[pl]=MX Codecs Installer
Name[pt]=MX-Instalador de Codecs
Name[pt_BR]=MX Codecs Installer
Name[ro]=MX Instalator Codecuri
Name[ru]=MX Установщик кодеков
Name[sk]=MX Inštalátor kodekov
Name[sv]=MX Codecs Installerare
Name[tr]= Çözücü Yükleyici
Name[uk]=MX Codecs Installer
Name[zh_TW]=MX 安裝影音編碼
Comment=Simple install of restricted codecs
Comment[am]=ቀላል የ ተወሰነ ኮድ መግጠሚያ
Comment[ca]=Descarregador senzill de còdecs
Comment[cs]=Jednoduchá instalace nesvobodných kodeků
Comment[de]=Einfache Installation unfreier Codecs
Comment[el]=Απλή εφαρμογή λήψης codecs
Comment[es]=Herramienta simple de descarga de códecs
Comment[fi]=Helppo rajoitettujen koodekkien asennusohjelma
Comment[fr]=Installation simple de codecs restreintes
Comment[hi]=Simple install of restricted codecs
Comment[hr]=Simple install of restricted codecs
Comment[hu]=Zárt kodekek egyszerű telepítése
Comment[it]=Semplice downloader di codecs
Comment[ja]=のシンプルなコーデックダウンローダー
Comment[kk]=Simple install of restricted codecs
Comment[lt]=Paprastas apribotų kodekų įdiegimas
Comment[nl]=Eenvoudig installeren van codecs met beperkte rechten
Comment[pl]=Simple install of restricted codecs
Comment[pt]=Instalação fácil de codecs restritos [mx-codecs]
Comment[pt_BR]=Simple install of restricted codecs
Comment[ro]=Descărcător simplu de codecuri pentru
Comment[ru]=Простая установка несвободных кодеков
Comment[sk]=Jednoducho inštalujte neslobodné kodeky
Comment[sv]=Enkel installering av non-free codecs
Comment[tr]=Kısıtlanmış çözücüleri basit yükleme
Comment[uk]=Simple install of restricted codecs
Comment[zh_TW]=簡單安裝限制性的影音編碼
Exec=su-to-root -X -c mx-codecs 
Icon=mx-codecs
NoDisplay=false
Categories=System;MX-Setup;
Type=Application
