#!/usr/bin/make -f

QMAKE_OPTS = DEFINES+=NO_DEBUG_ON_CONSOLE
MAKE_OPTS  = QMAKE=qmake-qt4 LRELEASE=lrelease-qt4 QMAKE_OPTS="$(QMAKE_OPTS)"

override_dh_auto_clean:
	dh_auto_clean
##	rm -f translations/*.qm

override_dh_auto_build:
	lrelease-qt4 mx-codecs.pro
	dh_auto_build -- $(MAKE_OPTS)

override_dh_auto_install:
	dh_auto_install -- $(MAKE_OPTS)

# Use lzma to compress debs, not yet approved by Debian.
# For Debian, use bzip2 or leave blank to use gzip.
override_dh_builddeb:
	dh_builddeb -- -Z xz

override_dh_usrlocal:

%:
	dh $@ --parallel 
